@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&family=Manrope&display=swap");
*{
    box-sizing: border-box;
}
:root{
    --tipogrfia-body: 'Cormorant garamond',
       sans-serif;
    --tamano-fuente: 16px
    --primary-color:
    --secundary-color:
    --third-color:
}
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--tipogrfia-body);
    margin: 0;
    padding: 0;
    background-color: #FAFAFB;
    /* text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;*/
}

header{
    background-color: #093931;
    color: #F5D38E;
    height: 3.5rem;
    /* padding-right: 10%;  */
    padding-left: 10%;
}
.header-top {
    display: flex;
    color: #F5D38E;
    font-family: 'Cormorant garamond';
    font-weight: 400px;
    font-size: 30px;
    max-width: 100%;
    /* width: 10%; */
    /*margin-right: 10%;*/
}
.header-top h2{
    width: 50%;
    height: 46px;
    font-size: 30px;
    margin-top: 0.5rem;
    /*  margin-left: 9%; */
}
nav{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.titulo-header{
    font-weight: 1;

}
.listacontenido{
    display: flex;
    justify-content: space-between;
    background-color: #093931;
    border: none;
    color: #FFFFFF;
    margin-top: 1rem;
    font-family: "manrope";
    height: 2rem;
}
.listacontenido:hover{
    color: #F5D38E;
    border-bottom: 3px solid #F5D38E;
    border-radius: 2px;
}

/*Estilos secci贸n Luxury Charms Ring*/

.tituloLux{
    color: #0D554A;
    font-family: "cormorant garamond";
    font-weight: 700;
    font-size: 2.3rem;
}

.subCode{
    color: #323842;
    font-family: Manrope;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}

.subtitulosLux{
    color: #424955;
    font-family: "manrope";
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    padding-bottom: 0.2rem;
}

.subtitulosLuxQ{
    color: #424955;
    font-family: "manrope";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    padding-top: 1rem;
}

.precioLux{
    color: #B37D10;
    font-family: Manrope;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.questionSize{
    color: #424955;
    text-align: right;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
    text-decoration-line: underline;
}

.estiloRuta{
    gap: 2rem;
    padding-left: 10%;
    padding-right:  10%;
 }
 
.rutaNav{
    margin-top: 5rem;
    /* margin-left: 9%; */    
}

.rutaNav button{
   border: none;
   background: transparent;
   height: 2rem;
   width: 6rem;
   font-family: "Cormorant Garamond";
   font-size: 0.9rem;
   color:#0D554A;
   text-align: center;
}


.contenedor-luxury{
    display: flex;
    padding-left: 10%;
    /* padding-right: 10%;  */
}

.contenedor-individual1{
    display: flex;
    margin-top:  2rem;
    /* margin-left: 8.4rem; */
    /* margin-right: 0.8rem; */
}
.contenedor-img-peq{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    width: 80px;
    gap: 1rem;
}

.conImg-5{
    width: 5.4rem;
    margin-left: -0.5rem;
}

.contenedor-img-origin{
    margin-left: 1rem;
    border-radius: 8px;
}

.img-luxx{
    width: 477px;
    height: 700px;
    flex-shrink: 0;
}
.corazon{
    position: absolute;
    margin-top: 1rem;
    margin-left: 27rem;

}

.contenedor-individual2{
    margin-top:  2.5rem;
    margin-left: 0.9rem;
    width: 470px;
    height: 700px;
 
}

.caracProductoImg{
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
    gap:1rem;
}

.seleccionado {
    border: 2px solid black;
}

.seleccionada {
    border: 2px solid black;
}

.caracteristicas{
    display: flex;
    justify-content: space-between;
}

.contBotonTallas{
    display: flex;
    gap: 0.4rem;
    font-family: 'Manrope';
    font-size: 1rem;

}

.contBotonTallas button{
    display: flex;
    height: 35px;
    width: 40px;
    padding: 5px 10px;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
    /* border: 1px solid #565E6C; */
    background: #FFF;
    color: #8F640C;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    line-height: 22px; 
   
}



.contBotonQuantity{
    display: flex; 
    flex-direction: column;   

}

.contBotonQuantity button{

    margin-top: 0.5rem;
    width: 40px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    background: #F3F4F6;
    color: #171A1F;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 22px; 
}

.contBotonesBuy{
    display: flex;
    margin-top: 1rem;
    gap: 2rem;
}

.estiloBotonAdd{
    border-radius: 26px;
    height: 3rem;
    width: 16.2rem;
    align-self: center;
    border: 1px;
    font-weight: 400;
    background-color: transparent;
    border-style: solid;
    color: #0D554A;
    color: #0D554A;
    font-family: Manrope;
    font-size: 17px;
    font-style: normal;    
    font-weight: 400;
    line-height: 28px; 
    text-align: center;
}

.estiloBotonBuy{
    border-radius: 26px;
    height: 3rem;
    width: 16.2rem;
    align-self: center;
    border: 1px;
    font-weight: 400;
    background-color: #0D554A;;
    border-style: solid;
    color: #FFFFFF;
    font-size: 18px;
    color: #FFF;
    font-family: Manrope;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: center;

}

.contBotonesCompraa{
  margin-top: 2rem;
}

.estiloBotonCompraa{
    border: none;
    background: transparent;
    text-align: left;
}
.alineacionBtnCompra{
    display: flex;
    justify-content: space-between;
}

.estiloSelect{
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    font-size: 1.2rem;
    font-family: "manrope";
    width: 16rem;
    height: 4rem;
}

/*Estilos Secci贸n Description (Exquisite elegance and Timeless Charm)*/

.contenedor-description{
    background: #FAFAFB;
    margin-top: 5rem;
    padding-left: 10%; 
    padding-right: 10%;
}

.titleDes{
    color: #323842;
    font-family: Manrope; 
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    padding-left: 6rem;
}

.tituloLuxD{
    color: #0D554A;
    font-family: "cormorant garamond";
    font-weight: 700;
    font-size: 2.3rem;
    padding-left: 6rem;
    padding-top: 1.5rem;
}
.txtDesc{
    color: #323842;
    font-family: Manrope;
    font-size: 18px;
    padding-left: 6rem;
    padding-top: 1rem;
    padding-right: 6rem;
}

.imgViD{
    padding-top: 4rem;
    width: 801px;
    height: 670px;
    padding-bottom: 4rem
}

.contenedorImgDescripcion{
    justify-content: center;
    display: flex;

}

.playBtn{
    position: absolute;
    margin-top: 19rem;
    margin-left: -1rem;
}

/*Estilos Servicios*/

.servicios{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    /* margin-left: 9%; */
}
.carta-servicio{
    width: 20%;
    font-family: "Manrope";
}
.carta-servicio img{
     margin-bottom: 0.8rem;
}
.carta-titulo{
    font-family: "cormorant garamond";
}
.carta-texto{
    color: #9095A0;
    font-size: 0.9rem;
}

/* seccion You make Option*/
.productos2{
    overflow: hidden;
    padding-top: 3rem;
    /*margin-top: 3rem;*/
    /* justify-content: space-between; */
    
}
.productos2 p{
    padding-top: 0%;
    font-family: "manrope";
    color: #171A1F;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 26px;
    /* Width: 57px; */
    Height:26px;
}
.comprar2texto{
    font-size: 0.8rem;
    font-family: "manrope";
    color: #9095A0;
    
}
.comprar2contenedor{
      margin-left: 132px;
   /* margin-right: 4%;*/
}
.comprar2 h3{
    font-family: "cormorant garamond";
    color: #0D554A;
    font-weight: 700;
    font-size: 2rem;
    line-height: 36px;
    Width:100%;
    margin-bottom: 1rem;
}
.fotos1{
    display: flex;
}
.fotos1 img{
    border-top: 50px;
    border-radius: 5px 5px 0px 0px;
 }
 .cartas1{
   background-color: #FFFFFF;
  /*margin-right: 2rem;*/
   border-radius: 0px 0px 15px 15px;
 }
 .fotos2{
    display: flex;
    padding-left: 132px;
    padding-bottom: 6rem;
}
/*.fotos2 img{
    border-top: 50px;
    border-radius: 5px 5px 0px 0px;
    padding-right: 24px;
    padding-left: 0px;
}*/
 
 .cartas2 img{
    background-color: #FFFFFF;
    /*border-radius: 0px 0px 15px 15px;*/
    width: 250px;
    height: 320px;
    margin-right: 2rem;
 }
.boton1, .boton2{
    border-radius: 26px;
    height: 3rem;
    width: 12rem;
    align-self: center;
    border: 1px;
    font-weight: 400;
    background-color: transparent;
    border-style: solid;
    color: #0D554A;
    font-size: 18px;
}
.comprar1, .comprar2 img{
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}


/*Estilos secci贸n From People*/
.from-people{
    background-color:#093931;
    display: flex;
    padding-top: 3rem;
    
}
.texto-people-txtF{
    margin-left: 9%;
    margin-top: 5rem;
    width: 50%;
}
.fuente1{
    color: #FFFFFF;
    font-family: "cormorant garamond";
    font-size: 2rem;
    font-weight: 80;
    margin-bottom: 1.7rem;
}
.fuente2{
    font-size: 0.9rem;
    width: 60%;
    font-family: "manrope";
    color: #FFFFFF;
    font-weight: 2;
    line-height: 1.5;
}
.fuente3{
    font-size: 0.9rem;
    width: 90%;
    font-family: "manrope";
    color: #FFFFFF;
    font-weight: lighter;
    line-height: 1.5;
}
.texto-people{
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 10px;
    padding-left: 10%;
    padding-right: 15%;
}
.target{
    margin-bottom: 3rem;
    margin-right: 10%;
    margin-left: 10rem;
    height: 30%;
    background-color: #171A1F4D;
    display: flex;
    border-radius: 8px;
}

.target-img-container{
    
    border-radius: 8px 0px 0px 8px ;
}
.target-parrafo{
    /*display: flex;*/
    font-family: "manrope";
    color: #FFFFFF;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 20%;
   

}
.target-texto1{
    font-size: 0.7rem;
    line-height: 1.7;
}
.target-texto2{
    font-size: 1.2rem;
    font-weight: 100rem;
margin-top: 1rem;
margin-bottom: 0.1rem;
}

.button-people{
    height: 3.2rem;
    margin-top: 2.85rem;
    margin-left: 10.5rem;
    z-index: 50;
    position: absolute;
    display: flex;
    justify-content: right;
    gap: 1rem;
}
.darling-footer{
    display: flex;
    background-color: #093931;
    height: 10rem;
 

}
/*Estilos secci贸n Footer*/

.darling-title-footer{
    margin-top: 3rem;
}
.darlingFooterContainer{
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
    width: 100%;
}

.tituloDarlingFooter{
    color: #F5D38E;
}

.navColumna1Footer{
    margin-left: 15%;
    font-family: 'manrope';
    font-size: 0.8rem;
    line-height: 2rem;
    color: #FFFFFF;
    margin-top: 2rem;
}

.navColumna2Footer{
    margin-left: 5%;
    font-family: 'manrope';
    font-size: 0.8rem;
    line-height: 2rem;
    color: #FFFFFF;
    margin-top: 2rem;
}

.subscribeAndShare{
    margin-top: 3rem;
    margin-left: 15%; 
    width: 100%;
}

.tituloSubscribeFooter{
    color:#FFFFFF;
    font-family: 'cormorant garamond';
    font-weight: lighter;
    font-size: 1.2rem;
}

.parrafoSubscribeFooter{
    color:#FFFFFF;
    font-family: 'manrope';
    font-weight: lighter;
    font-size: 0.8rem;
}

.contenedorInputBusqueda{
    display: flex;
    margin-top: 1rem;
    width: 100%;
}

.inputBusqueda{
    background-image: url(../Assets/Mail.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-color: #093931;
    height: 2rem;
    border-radius: 20px 0 0 20px;
    border: 1px solid white;
    width: 100%;
}

.inputBusqueda::placeholder{
    color: white;
}

.botonSubscribe{
    background: #F2C66D;
    width: 7rem;
    height: 2rem;
    border-style: none;
    border-radius: 0 20px 20px 0;
    margin-left: -0.25rem;
}

footer{
    background-color: #093931;
    height: 3rem;
}

.footer{
    background-color: #093931;
    display: flex;
    padding-right: 10%;
    padding-left: 10%;
    justify-content: space-between;

}
.parrafoContenedorFooter{
color: #FFFFFF;
font-family: 'manrope';
font-size: 0.8rem;
}

