@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&family=Manrope&display=swap");

:root{
    --tipogrfia-body: 'Cormorant garamond',
       sans-serif;
    --tamano-fuente: 16px
    --primary-color:
    --secundary-color:
    --third-color:
}
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--tipogrfia-body);
    padding: 15px 10px 25px 10px;
    /* text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;*/
} 

/* Selector de tipo: nombre de una etiqueta -- Selector universal: * (todos los elementos del documento HTML) -- Selector de clases: .(Segudo del nombre de la clase) --- Selector de ID: #(Seguido del nombre del ID) */

header{
    background-color: #093931;
    color: #F5D38E;
}

.lista li{
    color: #FFFFFF;
    font-family: "Manrope";
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    width: 40px;
    height: 22px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    color: #F5D38E;
    font-family: 'Cormorant garamond';
    font-weight: 400;
    font-size: 30px;
    line-height: 46px;
}

.header-top h2{
    width: 95px;
    height: 46px;
    font-size: 30px;
    padding-left: 110px;
    padding-top: 10px;
}

.titles .title h2{
    font-family: "Cormorant garamond";
    font-weight: 400;
    font-size: 72;
    line-height: 94;
    color: #F5D38E;
    width: 537px;
    height: 282px;
    top: 232px;
    left: 132px;

}

.titles .titulo{
    font-family: "Cormorant garamond";
    width: 450px;
    height: 282px;
    padding-top: 20px;
    /* padding-right: 30px; */
    padding-left: 61px;
    font-size: 41px;
    line-height: 94px;
    font-weight: 400;

}

.nav{
    padding-right: 100px;
}

.nav .lista ul{
    display: flex;
    display: inline-flex;
    list-style: none;   
}

.nav .lista ul li{
    padding: 20px;
}

.nav .lista ul li:hover{
    /* background-color: transparent; */
    /* border: 1px solid var(--secundary-color); */
    color: #F2C66D;
    text-decoration: underline;

}
/* 
.linea {
    border: none;
    border-top: 1px solid yellow;
    margin: 5px 0;
}

.contenedor hr{
    transition: tranform 0.3s ease;
}

.contenedor:hover .linea {
    transform: translateY(5px);
}

.linea {
    transition: trasnform 0.3s ease-in;
}

.linea:hover{
 transform: translateX(0.6s) (5px);
} */


.imagenes2{
    padding-left: 244px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.header-image-bottom {
    display: flex;
    /* justify-content: space-between; */
}

.titles {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    /* padding-right: 30px; */
    margin-top: 90px;
    text-align: left;
    padding-left: 50px;
}

.tittle{
    padding-left: 66px;
    
}

.titles button {
    font-family: "Manrope";
    width: 150px;
    height: 40px;
    /* padding: 12px, 59px, 12px, 59px; */
    border-radius: 26px;
    border: 1px;
    font-weight: 400;
    background-color: transparent;
    border-style:groove;
    color: white;
    font-size: 18px;
}


.encabezado {
    background-image: url(../Assets/fondo.png)
}

.imagenes .imagen2 {
    height: 321px;
    width: 241px;
    position: absolute;
    top: 250px;
    left: 1100px;
    border-radius: 121px, 121px, 0px, 0px;
}

.imagenes .imagen1{
    height: 543px;
    width: 407px;
    /* top: 139px;
    left: 741px; */
    border-radius: 8px;
}

.servicios{
    padding: 30px;
    display: flex;
    justify-content: space-between;padding-right: 50px;
    padding-right: 130px;
    padding-left: 130px;
    padding-top: 55px;
}

.servicios img{
    align-self: center;
    width: 62px;
    height: 62px;
    top: 36px;
    left: 287px;
}

.servicios .logos{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.servicios h2{
    padding: 10px;
    align-self: center;
    padding-bottom: 0px;
}

.servicios p{
    text-align: center;
    font-weight: 400;
    font-family: "manrope";
    font-size: 16px;
    line-height: 26px;
    width: 276px;
    height: 52px;
    top: 144px;
    left: 180px;
    padding-top: 0px;
}


.productos{
    display: flex;
    justify-content: space-between;
    padding-top: 75px;

}

.productos h2, p{
    padding: 10px;
}


.productos h2{
    font-family: "cormorant garamond";
    color: #171A1F;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    Width:180px;
    Height:36px;
    padding-bottom: 0%;
}


.productos p{
    padding-top: 0%;
    font-family: "manrope";
    color: #171A1F;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    Width: 57px;
    Height:26px;
}

.comprar {
    display: flex;
    flex-direction: column;
}

.comprar h2{
    padding-left: 100px;
    font-family: "Cormorant Garamond";
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    color: #0D554A;
    width: 264px;
    height: 112px;
}

.comprar p{
    color: #9095A0;
    font-family: "Manrope";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 100px;
    width: 264px;
    height: 78px;
}

.comprar button{
    border-radius: 26px;
    height: 52px;
    width: 200px;
    align-self: center;
    border: 1px;
    font-weight: 400;
    background-color: transparent;
    border-style: solid;
    color: #0D554A;
    font-size: 18px;
}
    
.comprar img{
    border-radius: 8px;
}

.boton{ padding-left: 100px;}

.historia h2{
    display: flex;
    justify-content: center;
    font-family: "cormorant garamond";
    font-weight: 600;
    font-size: 40px;
    color: #0D554A;
    line-height: 56px;
    align-items: center;
    height: 56px;
    padding-top: 100px;
    padding-bottom: 50px;
}


.historial{
    display: flex;
    justify-content: center;
    padding-left: 120px;
    padding-right: 50px;
    padding-bottom: 50px;
    width: 1230px;
    height: 390px;
    border-radius: 8px;
}
