@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&family=Manrope&display=swap");

:root{
    --tipogrfia-body: 'Cormorant garamond',
       sans-serif;
    --tamano-fuente: 16px
    --primary-color:
    --secundary-color:
    --third-color:
}

body{
    font-family: var(--tipogrfia-body);
    margin: 0;
    padding: 0;
    background-color: #FAFAFB;
    /* text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;*/
}

.estilo-txto{
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: 20px;

}

.estilo-contenedor {
    background-color: tomato;
    max-width: 100%;
    padding: 10px;
   /* margin-left: 10rem;*/
    /* margin-right: 10rem; */

  }

  .estilo-contenedor label {
    display: block;
    margin-bottom: 8px;
  }
  
  .estilo-contenedor input {
    background-color: #ccc;
    width: 30rem;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 4px;
  }
  
  